<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="windowheight" value="830"/>
    <add key="windowwidth" value="1400"/>
    <add key="listboxitemwidth" value="350"/>
    <add key="listboxitemheight" value="280"/>
    <add key="listboxitemimageheight" value="230"/>
    <add key="gamebackground" value="pack://application:,,,/HUB;component/icons/gamebg.jpg"/>
    <add key="websitebackground" value="pack://application:,,,/HUB;component/icons/bg.jpg"/>
    <add key="eventbackground" value="pack://application:,,,/HUB;component/icons/evntbg.png"/>
    <add key="minimizetotray" value="false"/>
    <add key="closeonlaunch" value="false"/>
    <add key="websitecloseonlaunch" value ="false"/>
    <add key="showsfiltered" value="false"/>
    <add key="regsitesfiltered" value="false"/>
    <add key="uninstalledgamesfiltered" value="false"/>
  </appSettings>
</configuration>